@import '../../../../styles.scss';

.dashboard{
    background-color: $color_principal;
    width: 100%;
    height: 640px;
    border-radius: 0px 7px 7px 0px;
}

.region-title{
    font-size: 30px;
}

.region-box{
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    border-right: 1px solid #111827;
    background-color: $color_principal;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.region-box:hover{
    background-color: white;
    transition: all, 300ms;
}

.region-box:focus{
    background-color: white;
}


// RESPONSIVE


@media (max-width: 667px) {

    .region-title{
        font-size: 27px;
    }

    .region-box{
        width: 101px;
    }
    
}

@media (max-width: 563px) {

    .region-title{
        font-size: 25px;
    }

    .region-box{
        width: 88px;
        font-size: 18px;
    }

}

@media (max-width: 517px) {

    .region-box{
        width: 88px;
        font-size: 18px;
    }
    
}


@media (max-width: 489px) {

    .region-title{
        font-size: 21px;
    }

    .region-box{
        width: 67px;
        font-size: 13px;
    }
}
