


<div class="about-background grid content-center">
    <div *ngIf="country; else loading" class="about-box grid grid-rows-12">
        <div class="about-title grid content-center rows-span-4">
            <h2 class="about-fonts">{{country[0].name.common}}</h2>
        </div>
        <div class="grid grid-cols-2 rows-span-6">
            <div class="about-img grid justify-items-center">
                <img class="about-country-img" [src]="country[0].flags.png" [alt]="country[0].name.common">
            </div>
            <div class="about-info">
                <div>
                    <h3 class="about-title font-extrabold my-3">About the country</h3>
                </div>
                <div class="flex justify-center">
                    <ul>
                        <li class="about-info-li">
                            <strong>Capital:</strong> {{country[0].capital}}
                        </li>
                        <li class="about-info-li">
                            <strong>Region:</strong> {{country[0].region}}
                        </li>
                        <li class="about-info-li">
                            <strong>Population:</strong> {{country[0].population | number}}
                        </li>
                        <li class="about-info-li">
                            <strong>Languages:</strong> {{country[0].languages | json}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rows-span-2">
            <div class="grid justify-items-center">
                <button (click)="goBack()" class="about-button">Go back</button>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading-logo></app-loading-logo>
</ng-template>
