


.main-img{
    height: 490px;
}

.main-button{
    height: 50px;
    color: white;
    background: #1f2937;
    width: 115px;
    border-radius: 100px;
}

// RESPONSIVE


@media (max-width: 413px) {
    .main-img{
        height: 400px;
    }

    .main-button{
        height: 34px;
        width: 94px;
        font-size: 13px;
    }
}