@import '../../../styles.scss';

.sidenav{
    height: 640px;
    min-height: 640px;
    background-color: $color_terceario;

    .title-sidenav{
        background-color: $color_secundario;
        color: $color_letra_2;

        h2{
            font-size: 20px;
        }
    }

}

.list-sidenav{

    color: $color_letra_2;
    font-size: 16px;
    margin: 10px;
    
    .li-sidenav{
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
        margin-top: 3px;
        margin-bottom: 3px;
        cursor: pointer;
        
        i{
            padding-top: 3px;
            font-size: 21px;
        }

    }
    
}

.li-sidenav:hover{
    background-color: $color_secundario;
    transition: all, 300ms;
}

.active{
    background-color: $color_secundario;
}




// RESPONSIVE



@media (max-width: 1126px) {

    .title-sidenav{
        h2{
            font-size: 19px !important;
        }
    }

    .li-sidenav{
        display: flex;
        height: 61px !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }

    
}

@media (max-width: 768px) {
    .sidenav{
        height: 90px;
        min-height: 90px;
    }

    .list-ul-sidenav{
        display: flex;
        width: 339px;
    }
}

@media (max-width: 637px) {
    .list-ul-sidenav{
        width: 278px;
    }
}

@media (max-width: 600px) {

    .li-sidenav{
        font-size: 14px;
    }

    .li-sidenav-img{
        font-size: 19px !important;
    }
}

@media (max-width: 580px) {
    .list-ul-sidenav{
        width: 230px;
    }
}

@media (max-width: 435px) {

    .sidenav{
        height: 63px;
        min-height: 63px;
    }
    
    .title-sidenav{
        width: 115px;
        height: 100%;

        .font-mini{
            font-size: 13px !important;
        }
    }

    .list-sidenav{
        margin: 0px;
        margin-top: 0px;
    }

    .list-ul-sidenav{
        width: 203px;
    }

    .li-sidenav{
        font-size: 10px;
    }

    .li-sidenav-img{
        font-size: 15px !important;
    }

}

@media (max-width: 414px) {

    .sidenav{
        height: 66px;
        min-height: 66px;
    }

    .list-ul-sidenav{
        width: 168px;
    }
}