

<div class="sidenav rounded-l-lg">

    <div class="title-sidenav h-24 grid content-center rounded-tl-lg text-center">
        <h1 class="text-xl font-bold">Countries App</h1>
    </div>

    <div class="list-sidenav grid content-center justify-items-start mt-5">
        <ul class="grid content-center w-full">

            <div class="li-sidenav rounded-md" 
                routerLink="countries/country" 
                routerLinkActive="active">

                <i class="bx bxs-flag-alt mx-3"></i>
                <li>By country</li>
            </div>
            <div class="li-sidenav rounded-md" 
                routerLink="countries/capital" 
                routerLinkActive="active">

                <i class="bx bx-map-alt mx-3"></i>
                <li>By capital</li>
            </div>
            <div class="li-sidenav rounded-md" 
                routerLink="countries/region" 
                routerLinkActive="active">

                <i class="bx bxs-plane-land mx-3"></i>
                <li>By region</li>
            </div>

        </ul>
    </div>

</div>

